{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>

    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title">Product #1588</h5>
            <p>Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            <div class="display-6">Menu</div>
        </div>
        <ul class="list-group list-group-flush ">
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Home page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Skills page</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="btn btn-link">Person page</a>
            </li>
        </ul>
        <div class="card-footer">
            <button class="btn btn-dark btn-sm">Update list</button>
        </div>
    </div>
    <br>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Vlad
                </td>
                <td>
                    26
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Vlad
                </td>
                <td>
                    26
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Sanya
                </td>
                <td>
                    27
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Kate
                </td>
                <td>
                    26
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Gleb
                </td>
                <td>
                    25
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    #id
                </th>
                <th>
                    name
                </th>
                <th>
                    age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Vlad
                </td>
                <td>
                    26
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Sanya
                </td>
                <td>
                    27
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Kate
                </td>
                <td>
                    26
                </td>
            </tr>
            <tr>
                <th>
                    1
                </th>
                <td>
                    Gleb
                </td>
                <td>
                    25
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>

    <div class="card text-bg-primary">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-secondary">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-success">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-danger">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-warning">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-info">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-light">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/400/300" alt="Product photo">
        <div class="card-body">
            <h5 class="card-title text-bg-primary">Product #1588</h5>
            <p class="text-bg-secondary">Якийсь товар з розетки </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>Якийсь текст для заповнення коробки (box)</p>
            <button class="btn btn-light">Click!</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    <br>
    <br>
    <br>
    <div class="row g-5">
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-danger">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-bg-danger">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">This is title</h6>
                    <p>Якийсь текст для заповнення коробки (box)</p>
                    <button class="btn btn-light">Click!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}