{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>

    <h1 class="text-center text-uppercase">Hello world</h1>
    <h2 class="text-end text-lowercase">Good morning</h2>
    <h3 class="text-capitalize">Good evening people</h3>
    <hr>

    <div class='display-1 text-muted'>Hello world</div>
    <div class='display-5'>Good morning</div>
    <div class='display-6'>Good evening</div>
    <hr>
    <div class="text-muted text-end">Якийсь текст</div>
    <hr>
    <button class="btn btn-primary">
        <span class="text-uppercase"></span>
        <h1>Синий</h1>
    </button>
    <button class="btn btn-secondary">Серый</button>
    <button class="btn btn-success">Зеленый</button>
    <button class="btn btn-danger">Красный</button>
    <button class="btn btn-warning">Жолтый</button>
    <button class="btn btn-info">Голубой</button>
    <button class="btn btn-light">Белый</button>
    <button class="btn btn-dark">Черный</button>
    <button class="btn btn-link">Ссылка</button>
    <hr>
    <p class="text-primary">Якийсь текст</p>
    <p class="text-secondary">Якийсь текст</p>
    <p class="text-success">Якийсь текст</p>
    <p class="text-danger">Якийсь текст</p>
    <p class="text-warning">Якийсь текст</p>
    <p class="text-info">Якийсь текст</p>
    <p class="text-light">Якийсь текст</p>
    <p class="text-dark">Якийсь текст</p>
    <hr>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary">Test</button>
            <button class="btn btn-outline-secondary">Test</button>
            <button class="btn btn-outline-success">Test</button>
            <button class="btn btn-outline-danger">Test</button>
            <button class="btn btn-outline-warning">Test</button>
            <button class="btn btn-outline-info">Test</button>
            <button class="btn btn-outline-light">Test</button>
            <button class="btn btn-outline-dark">Test</button>
        </div>
    </div>

    <hr>
    <button class="btn btn-success btn-lg">Test</button>
    <button class="btn btn-danger btn-sm">Test</button>
    <hr>
    <div class="card">
        <div class="card-body">
            Thus is text for example
        </div>
    </div>



</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}