{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main class="p-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <br>
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link active">Bootstrap</a>
                            </div>
                        </div>
                        <br>
                        <div class="nav-item">
                            <div class="card">
                                <a href="#" class="nav-link disabled">FAQ page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Ноутбуки</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Macbook </a>
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <h6>Hello world <span class="badge text-bg-primary ">New</span></h6>
                    <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Щось цікаве</span>
                    </h6>
                    <button class="btn btn-primary m-2">Click1</button>
                    <button class="btn btn-primary rounded-pill">Click1</button>
                    <div class="alert alert-primary">This is important mesage!</div>
                    <div class="alert alert-secondary">This is important mesage!</div>
                    <div class="alert alert-success">This is important mesage!</div>
                    <div class="alert alert-danger">This is important mesage!</div>
                    <div class="alert alert-warning">This is important mesage!</div>
                    <div class="alert alert-info">This is important mesage!</div>
                    <div class="alert alert-light">This is important mesage!</div>
                    <div class="alert alert-dark">This is important mesage!</div>
                </div>
                <div class="alert alert-success">
                    <div class="col-12">
                        <h6>Hello world <span class="badge text-bg-primary ">New</span></h6>
                        <h6>Hello world <span class="badge text-bg-warning rounded-pill text-uppercase">Щось
                                цікаве</span></h6>
                        <button class="btn btn-primary rounded-pill">Click1</button>
                    </div>
                </div>
            </div>
        </div>
</main>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}